*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    background-color: brown;
    height:500px;
    border:3px solid black;
    display: grid;

    grid-template-columns: 200px 200px 210px;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px repeat(3, 1fr);
    grid-template-columns: 100px repeat(2, 1fr) 100px */
    gap:15px;

}
.box{
    background-color: aqua;
    border:4px solid black;
    /* width:80px;
    height:80px */
}
#box1{ 
    grid-column-start:3;
    grid-column-end:1;
}
#box4{
    grid-row-start: 2;
    grid-row-end: 4;
}