.box{
    border:1px solid black;
    height:200px;
    width:150px; 
    background-image: linear-gradient(red,yellow, blue);
    background-image: linear-gradient(to right,red, blue);
    background-image: linear-gradient(to left,red, blue);
    background-image: linear-gradient(to bottom,red, blue);
    background-image: linear-gradient(to top,red, blue);
    background-image: linear-gradient(to bottom right, red, blue);
    background-image: linear-gradient(to top left, red, blue);
    background-image: linear-gradient(45deg, red, blue);
}

.mydiv{
    border:1px solid balck;
    margin:10px;
    height:300px;
    width: 350px;
    background-image: radial-gradient(red, blue, orange);
    background-image: radial-gradient(circle, red, blue, orange);
    background-image: radial-gradient( red 5%, blue 10%, orange 50% );
}